
<form id="hidden-signout" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
</form>

<div id="nav"></div>

<div id="content">
  <div id="left-content"></div>
  <div id="right-content"></div>
</div>

<script>
  filepicker.setKey("<%= ENV['FILEPICKER_API_KEY'] %>");
  CURRENT_USER_ID = <%= current_user.id %>;
  LOGO_PATH = "<%= asset_url('logo.png') %>";
  $(document).ready(function(){
    SilentIsland.initialize();
  });
</script>
