<div class="top-bar">
  <img src="<%= asset_url('logo.png') %>" />
  <div class="top-bar-gradient"></div>
</div>
<div class="landing-info-panel">
  <h1>SilentIsland is a music discovery and sharing web app, inspired by SoundCloud.</h1>
</div>
<div class="auth-form panel">
  <h1>Sign Up</h1>
  <p>or <a href="<%= new_session_url %>">sign in</a></p>
  <%= render 'shared/errors' %>
  <%= render 'form', user: @user, submit_text: 'Sign Up', action: users_url %>
  <form class="" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[username]" value="guest">
    <input type="hidden" name="user[password]" value="password">
    <input type="submit" value="Guest Login">
  </form>
</div>
<div class="background">
</div>
