<div class="play-button">
  <span class="play-symbol glyphicon glyphicon-play"></span>
</div>
<div class="song-info">
  <h2 class="song-title"><%= song.escape('title') %></h2>

  <p class="song-uploader" data-id="<%= song.get('uploader').id %>">
    <%= song.get('uploader').username %>
  </p>

  <div class="song-item-controls">
    <% if (SilentIsland.currentUser.get('id') === song.get('uploader').id) { %>
      <div class="edit">
        <span class="glyphicon glyphicon-edit"></span>
      </div>
    <% } %>
    <div class="queue">
      <span class="glyphicon glyphicon-play"></span>
      <span class="glyphicon glyphicon-plus"></span>
    </div>
  </div>

  <% if (song.get('tags')) { %>
    <p class="tags">
      <% song.get('tags').forEach(function (tag) { %>
        <span class="tag" data-id="<%= tag.id %>"><%= tag.label %></span>
      <% }) %>
    </p>

  <% } %>
</div>
