<!DOCTYPE html>
<html>
<head>
  <title>SilentIsland</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Cambay:400,700,700italic,400italic' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
